* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0e0e0e;
    color: white;
}

/* HEADER */
header {
    background: #111;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.menu a:hover {
    color: #00eaff;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px 50px;
}

.hero-text h2 {
    font-size: 40px;
}

.hero-text span {
    color: #00eaff;
}

.hero-text p {
    margin: 10px 0 20px;
    font-size: 18px;
}

.btn {
    background: #00eaff;
    padding: 10px 20px;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.hero-img img {
    width: 300px;
    border-radius: 50%;
    border: 4px solid #00eaff;
}

/* SECTIONS */
.section {
    padding: 80px 50px;
}

.section-title {
    font-size: 32px;
    margin-bottom: 20px;
    color: #00eaff;
}

/* SKILLS */
.skills-container {
    display: flex;
    gap: 40px;
}

.skill-card {
    background: #111;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
}

/* PROJETOS */
.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.project-card {
    background: #111;
    padding: 20px;
    border-radius: 10px;
}

.project-card a {
    color: #00eaff;
    text-decoration: none;
}

/* CONTATO */
.contato-box {
    background: #111;
    padding: 20px;
    border-radius: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #0d0d0d;
    margin-top: 40px;
}

/* RESPONSIVIDADE */
@media (max-width: 800px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .skills-container {
        flex-direction: column;
    }

    .projects-container {
        grid-template-columns: 1fr;
    }
}

